<!-- <style>
    body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
</style>


<center>
<h1>Uh oh! It looks like our dog ate this page.</h1>
<img src="https://www.poetry4kids.com/wp-content/uploads/2016/07/my-dog-ate-my-homework-300x244.png">
</h1></center> -->


<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>